<h2>Image Tools</h2>
<p>
    This demo allows you to upload a set of images, perform basic operations, and download the results.  
</p>
<p>
    Click upload to begin.  Once your files have finished uploading, click on the thumbnail to show available tools.  
</p>
<div id="galleryContainer">
    <div id="gallery">
    </div>
</div>

<div id="workarea"></div>

